* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.shop-container {
    display: flex;
}

.products-container {
    width: 75%;
    height: 100vh;
    border-right: 1px solid #ddd ;
    margin-left: 20px ;
}

.cart-container {
    width: 25%;
    margin-left: 10px;
}